@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Content--after-open {
    width: 95% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    min-height: max-content !important;
    overflow: hidden !important;
}